
$fontText: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
"Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
sans-serif;

$fontSuperBig: 41px;
$fontBig: 24px;
$fontMidMedium:22px;
$fontMedium: 20px;
$fontSmall: 16px;
$fontSuperSmall: 12px;

$darkGreen:#5CD4C3;
$mediumGreen: #B1F5F1;
$lightGreen: #C3FCF1;

$darkGrey: #54585a;
$mediumGrey: #8AA2A9;
$lightGrey: #b8b8b9;

$white: #ffffff;